article.signin {
  background-color: rgba(39, 39, 39, 1);
  width: 25vw;
  min-width: 340px;
  max-width: 32rem;
  margin: 2rem auto;
  padding: 0 10px;
  box-shadow: 4px 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 0.5rem;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
}

#sign-up > legend {
  font-size: 1.5em;
  font-weight: 600;
  text-transform: uppercase;
  color: rgba(155, 155, 155, 0.5);
}

.email-container,
.password-container {
  width: 100%;
    padding: 8px 0;
}

.errorSignin {
  position: absolute;
  top: 2.5%;
  left: 50%;
  opacity: 0;
  width: 90%;
  padding: 4px 0;
  transform: translate(-50%);
  font-size: 0.8em;
  text-transform: uppercase;
  color: rgba(159, 48, 48, 0.9);
  border: 1px solid rgba(159, 48, 48, 0.9);
  border-radius: 0.3em;
  transition: opacity 0.25s;
}

.errorSignin.error {
  opacity: 1;
}

input.border-error {
  border-color: rgba(159, 48, 48, 0.9);
}
