#root > div > div > div > div > div.searchbar > div > div {
  color: white;
  border-radius: 15px;
  /* border: 1px solid blue; */
}

#root > div > div:nth-child(2) > div > div > div.searchbar > div > div > svg {
  color: rgba(255, 255, 255, 0.7);
}

#root > div > div:nth-child(2) > div > div > div.searchbar > div > div > fieldset {
  border-color: rgb(118, 118, 118);
}

#menu- > div.MuiPaper-root.MuiMenu-paper.MuiPopover-paper.MuiPaper-elevation8.MuiPaper-rounded,
#menu- > div.MuiPaper-root.MuiMenu-paper.MuiPopover-paper.MuiPaper-elevation8.MuiPaper-rounded > ul {
  background-color: #252525;
  color: white;
  box-shadow: 4px 4px 8px 0px rgba(0, 0, 0, 0.2), -1px -1px 0px 0px rgba(255, 255, 255, 0.1);
  border-radius: 15px;
}

#menu-
  > div.MuiPaper-root.MuiMenu-paper.MuiPopover-paper.MuiPaper-elevation8.MuiPaper-rounded
  > ul
  > li.MuiButtonBase-root.MuiListItem-root.MuiMenuItem-root.Mui-selected.MuiMenuItem-gutters.MuiListItem-gutters.MuiListItem-button.Mui-selected {
  background-color: rgba(159, 48, 48, 0.9);
}

#menu- > div.MuiPaper-root.MuiMenu-paper.MuiPopover-paper.MuiPaper-elevation8.MuiPaper-rounded > ul > li:hover {
  background-color: rgba(159, 48, 48, 0.4);
}

.searchbar {
  position: relative;
  padding: 1rem;
  /* display: flex;
  justify-content: center;
  align-items: center; */
}
.searchbox {
  padding: 1.1rem;
  background: transparent;
  color: white;
  border-radius: 15px;
  border-style: solid;
  border-width: 1px;
  margin-left: 1rem;
}

.searchbox:focus {
  outline: none;
  box-shadow: 0px 0px 2px white;
}

input[type='search']::-webkit-search-cancel-button {
  /* Remove default */
  -webkit-appearance: none;
  /*Your new styles */
  height: 10px;
  width: 10px;
  background: red;
}

.type {
  position: absolute;
  top: 50%;
  right: 5%;
  width: 150px;
  height: 40px;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  border-radius: 15px;
  color: white;
  background-color: #252525;
  box-shadow: 4px 4px 8px 0px rgba(0, 0, 0, 0.2), -1px -1px 0px 0px rgba(255, 255, 255, 0.1);
  border: none;
}

.type:active,
.type:focus {
  outline: none;
}
