.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
}

.card {
  width: 960px;
  height: 200px;
  color: #fff;
  background-color: #252525;
  box-shadow: 4px 4px 8px 0px rgba(0, 0, 0, 0.2),
    -1px -1px 0px 0px rgba(255, 255, 255, 0.1);
  border-radius: 15px;
  overflow: hidden;
  position: relative;
  margin: 10px;
  align-self: center;
  justify-self: center;
}

.card .repair-info {
  position: absolute;
  top: 0;
  left: 0;
  width: 100px;
  height: 100%;
  overflow: hidden;
  z-index: 2;
}

.card .repair-info::after {
  content: '';
  display: block;
  position: absolute;
  top: 10%;
  right: 0px;
  height: 80%;
  border-left: 1px dashed #444444;
}

.card .repair-info .number,
.card .repair-info .repair-type,
.card .repair-info .number-customer {
  color: #fff;
  font-size: 0.8em;
  font-weight: bold;
  padding: 0.3rem 0.75rem;
  border-radius: 100px;
  white-space: nowrap;
}

.card .repair-info .number {
  top: 10%;
  color: rgba(159, 48, 48, 0.9);
}

.card .repair-info .number-customer {
  top: 18%;
  color: #616161;
  font-size: 0.7em;
}

.card .repair-info img {
  top: 50%;
  height: 110px;
}

.card .repair-info .repair-type {
  top: 85%;
  width: 100%;
  font-size: 11px;
  font-weight: bold;
  color: rgba(255, 255, 255, 0.9);
}

.card .tab-content {
  width: 210px;
  height: 100%;
  position: absolute;
  top: 0;
  left: 100px;
  z-index: 1;
  box-sizing: border-box;
  line-height: 0.95;
  padding: 9px 8px 0 8px;
}

.card .tab-content h5 {
  margin: 0 0 0 0;
  font-size: 13px;
  text-transform: uppercase;
  font-weight: 600;
  color: rgba(159, 48, 48, 0.9);
  padding: 0 0 4px 0;
}

.card .tab-content .tag-data {
  display: inline-block;
  width: 100%;
  padding: 5px 4px;
}

.card .tab-content div .tag {
  float: left;
  color: #616161;
  font-size: 10px;
  text-align: left;
}

.card .tab-content div .tag-cost {
  float: right;
  color: #616161;
  font-size: 10px;
  text-align: right;
}

.card .tab-content div .data {
  float: right;
  font-size: 10px;
  text-align: right;
  font-style: italic;
}

.card .tab-content div .data-fault,
.card .tab-content div .data-remark {
  float: right;
  font-size: 13px;
  text-align: right;
  line-height: 1.1;
}

.card .tab-content div .data-fault::first-letter,
.card .tab-content div .data-remark::first-letter {
  text-transform: capitalize;
}

.tabs {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  top: 0;
  padding-top: 4px;
  right: 0;
  width: 40px;
  height: 100%;
  border-left: 1px solid rgba(255, 255, 255, 0.1);
}

.tab-btn {
  display: block;
  flex: 1;
  width: 100%;
  padding: 12px 0px;
  border: 0;
  background-color: #252525;
  cursor: pointer;
  transition: all 0.5s ease-out;
}

.tab-btn:hover {
  color: rgba(255, 255, 255, 0.5);
}

.tabs .active {
  color: rgba(159, 48, 48, 0.8);
}

.tabs .disabled {
  pointer-events: none;
  color: rgba(255, 255, 255, 0.4);
}

.tab-indicator {
  position: absolute;
  top: 0;
  right: 39px;
  border-left: 2px solid rgba(159, 48, 48, 0.8);
  transition: transform 0.2s;
  transform: translateY(10px);
}

.icons {
  position: absolute;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(60px, 1fr));
  bottom: 10px;
  left: 0;
  text-align: center;
  width: 100%;
}

.icon-link {
  color: white;
}

.icons div .tag-icon {
  display: inline-block;
  width: 100%;
  color: #616161;
  font-size: 10px;
  padding: 0 0 5px 0;
  text-align: center;
}

.icons div .icon {
  color: white;
}

.icons div .icon:hover {
  color: rgba(159, 48, 48, 0.9);
  transition: color 0.5s ease;
}
