/* CARD */
.card {
  position: static;
  box-sizing: border-box;
  max-width: 800px;
  height: 230px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  color: #fff;
  font-size: 0.8em;
  box-shadow: 4px 4px 8px 0px rgba(0, 0, 0, 0.2),
  -1px -1px 0px 0px rgba(255, 255, 255, 0.1);
  border-radius: 15px;
  margin: 10px 0;
  align-self: center;
  justify-self: center;
}

/* GENERAL PROPERTIES */

.card .repair-info::after,
.card .resguardo::after,
.card .tab-content::after {
  content: '';
  display: block;
  position: absolute;
  top: 10%;
  right: 0;
  height: 80%;
  border-left: 1px dashed #444444;
}

.card section header {
  color: rgba(159, 48, 48, 0.9);
  font-size: 1.1em;
  font-weight: bold;
  text-transform: uppercase;
  padding: 10px 0 5px 0;
}

.card section .tag-data {
  padding: 5px 10px 6px 10px;
}

.card section .tag-data .data,
.card section .tag-data .data-fault,
.card section .tag-data .data-remark {
  width: 100%;
  font-size: 11px;
  font-weight: normal;
}

.tag {
  font-size: 11px;
  color: rgba(155, 155, 155, 1);
  font-style: oblique;
  font-weight: normal;
}

.left {
  float: left;
  width: 100%;
  text-align: left;
}

.right {
  float: left;
  width: 100%;
  text-align: right;
}

/* REPAIR INFO */
.card .repair-info {
  position: relative;
  overflow: hidden;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  width: 150px;
  /*padding: 10px 0;*/
  font-weight: bold;
  padding: 0;
  margin: 0;
  /*background-color: darkslateblue;*/
}

.card .repair-info .process-status {
  /*width: 100%;*/
  height: 9%;
  padding: 2% 0;
  background-color: rgba(159, 48, 48, 0.9);
  vertical-align: center;
  margin-bottom: 5px;
}

.card .repair-info .number {
  color: rgba(159, 48, 48, 1);
  font-size: 1.1em;
}

.card .repair-info .number-customer {
  color: rgba(155, 155, 155, 1);
  display: flex;
  flex-direction: column;
  font-size: 0.8rem;
  padding: 4px 0;
}

.card .repair-info img {
  max-height: 110px;
  object-fit: contain;
  /*margin: 5px auto;*/
  flex-grow: 1;
}

.card .repair-info .repair-type {
  font-weight: normal;
  color: rgba(255, 255, 255, 0.8);
}


/* RESGUARDO */
.card .resguardo {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 300px;
  font-size: 11px;
  /*background-color: midnightblue;*/
}

.card .resguardo .main {
  display: flex;
  flex-direction: row;
  /*background-color: midnightblue;*/
}

.card .resguardo .main .left,
.card .resguardo .main .right {
  /*display: flex;*/
  /*flex-direction: column;*/
  /*justify-content: space-evenly;*/
  width: 50%;
}

.card .resguardo .main .left .left-tag-data .tag,
.card .resguardo .main .left .left-ul-data .tag,
.card .resguardo .main .left .left-tag-data .data {
  width: 100%;
  float: left;
  text-align: left;
}

.card .resguardo .main .left .left-tag-data {
  padding: 5px 0 0 10px;
  /*background-color: mediumseagreen;*/
}

.card .resguardo .main .left .left-ul-data {
  width: 100%;
  float: left;
  text-align: left;
  margin: 0;
  padding: 8px 0 5px 10px;
  list-style: none;
}

.card .resguardo .main .left .left-ul-data .data-li {
  width: 50%;
  display: inline-block;
  text-align: left;
  padding: 2px;
}

.card .resguardo .main .left .left-ul-data .data-li::before {
  content: '\25AA';
  color: rgba(159, 48, 48, 1);
  font-size: 11px;
  padding-right: 2px;
}

.card .resguardo .main .right .right-tag-data {
  padding: 5px 10px 6px 0;
}

.card .resguardo .main .right .tag,
.card .resguardo .main .right .data {
  width: 100%;
  float: right;
  text-align: right;
}

.card .resguardo .main .right .data {
  padding-bottom: 5px;
}

.card .tab-content {
  position: relative;
  width: 300px;
  font-size: 11px;
}

/* PRESUPUESTO */
.card .presupuesto {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 300px;
  font-size: 11px;
  /*background-color: darkolivegreen;*/
}

.card .presupuesto .main {
  display: flex;
  flex-direction: row;
  /*background-color: midnightblue;*/
}

.card .presupuesto .main .left,
.card .presupuesto .main .right {
  /*display: flex;*/
  /*flex-direction: column;*/
  /*justify-content: space-evenly;*/
  width: 50%;
}

.card .presupuesto .main .left .left-tag-data .tag,
.card .presupuesto .main .left .left-tag-data .data {
  width: 100%;
  float: left;
  text-align: left;
}

.card .presupuesto .main .left .left-tag-data {
  padding: 5px 0 0 10px;
  /*background-color: mediumseagreen;*/
}

.card .presupuesto .main .left .data {
  padding-bottom: 5px;
}

.card .presupuesto .main .right .right-tag-data {
  padding: 5px 10px 6px 0;
  /*background-color: mediumseagreen;*/
}

.card .presupuesto .main .right .tag,
.card .presupuesto .main .right .data {
  width: 100%;
  float: right;
  text-align: right;
}

.card .presupuesto .main .right .data {
  padding-bottom: 5px;
}

.stamp {
  display: flex;
  justify-content: center;
  align-items: center;
  transform: rotate(-14deg);
  color: #555;
  font-size: 1rem;
  font-weight: 700;
  border: 0.25rem solid #555;
  text-transform: uppercase;
  border-radius: 10px;
  margin: 5px 0 0 20px;
  -webkit-mask-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/8399/grunge.png');
  -webkit-mask-size: 944px 604px;
  mix-blend-mode: lighten;
}

.is-approved {
  color: rgb(32, 116, 24);
  border: 0.25rem solid rgb(32, 116, 24);
}

.is-nope {
  color: rgba(159, 48, 48, 0.9);
  border: 0.25rem double rgba(159, 48, 48, 0.9);
}

/* REPARACION */
.card .reparacion {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 300px;
  font-size: 11px;
  /*background-color: darkolivegreen;*/
}

.card .reparacion .main {
  display: flex;
  flex-direction: row;
  /*background-color: midnightblue;*/
}

.card .reparacion .main .left,
.card .reparacion .main .right {
  /*display: flex;*/
  /*flex-direction: column;*/
  /*justify-content: space-evenly;*/
  width: 50%;
}

.card .reparacion .main .left .left-tag-data .tag,
.card .reparacion .main .left .left-tag-data .data {
  width: 100%;
  float: left;
  text-align: left;
}

.card .reparacion .main .left .left-tag-data {
  padding: 5px 0 0 10px;
  /*background-color: mediumseagreen;*/
}

.card .reparacion .main .left .data {
  padding-bottom: 5px;
}

.card .reparacion .main .right .tag,
.card .reparacion .main .right .data {
  width: 100%;
  float: right;
  text-align: right;
}

.card .reparacion .main .right .right-tag-data {
  padding: 5px 10px 6px 0;
  /*background-color: mediumseagreen;*/
}

.card .reparacion .main .right .data {
  padding-bottom: 5px;
}

/* ENTREGA */
.card .entrega {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 300px;
  font-size: 11px;
  /*background-color: darkolivegreen;*/
}

.card .entrega .main {
  display: flex;
  flex-direction: row;
  /*background-color: midnightblue;*/
}

.card .entrega .main .left,
.card .entrega .main .right {
  /*display: flex;*/
  /*flex-direction: column;*/
  /*justify-content: space-evenly;*/
  width: 50%;
}

.card .entrega .main .left .left-tag-data .tag,
.card .entrega .main .left .left-tag-data .data {
  width: 100%;
  float: left;
  text-align: left;
}

.card .entrega .main .left .left-tag-data {
  padding: 5px 0 0 10px;
  /*background-color: mediumseagreen;*/
}

.card .entrega .main .left .data {
  padding-bottom: 5px;
}

.card .entrega .main .right .tag,
.card .entrega .main .right .data {
  width: 100%;
  float: right;
  text-align: right;
}

.card .entrega .main .right .right-tag-data {
  padding: 5px 10px 6px 0;
  /*background-color: mediumseagreen;*/
}

.card .entrega .main .right .data {
  padding-bottom: 5px;
}

/* Tabs */
.card .tabs-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 50px;
  height: 230px;
}

.card .tab-btn {
  cursor: pointer;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  color: rgba(159, 48, 48, 0.9);
  transition: all 400ms linear;
}

.card .tab-btn .tab-icon {
  transition: all 300ms linear;
}

.card .tab-btn.disabled {
  pointer-events: none;
  color: rgba(255, 255, 255, 0.2);
}

.card .tab-btn:hover .tab-icon {
  color: rgba(255, 255, 255, 1);
}

.card .tab-btn.active {
  position: relative;
  background-color: rgba(159, 48, 48, 0.9);
  color: rgba(255, 255, 255, 1);
}

.card .tab-btn.active::before {
  content: '';
  position: absolute;
  top: 0;
  left: -1px;
  width: 1px;
  height: 100%;
  border-left: 1px solid rgba(159, 48, 48, 0.9);
}

.card .tab-btn.active:hover .tab-icon {
  color: white;
}
