/* card-portrait */
.card-portrait {
  position: static;
  box-sizing: border-box;
  max-width: 300px;
  height: 400px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  color: #fff;
  font-size: 0.8em;
  box-shadow: 4px 4px 8px 0px rgba(0, 0, 0, 0.2),
  -1px -1px 0px 0px rgba(255, 255, 255, 0.1);
  border-radius: 15px;
  margin: 10px 0;
  align-self: center;
  justify-self: center;
}

/* GENERAL PROPERTIES */

.card-portrait .repair-info::after,
.card-portrait .resguardo-portrait::after,
.card-portrait .tab-content::after {
  content: '';
  display: block;
  position: absolute;
  bottom: 0;
  left: 10%;
  width: 80%;
  height: 1px;
  border-bottom: 1px dashed #444444;
}

.card-portrait section header {
  color: rgba(159, 48, 48, 0.9);
  font-size: 1.1em;
  font-weight: bold;
  text-transform: uppercase;
  padding: 10px 0 5px 0;
}

.card-portrait section .tag-data {
  padding: 5px 10px 6px 10px;
}

.card-portrait section .tag-data .data,
.card-portrait section .tag-data .data-fault,
.card-portrait section .tag-data .data-remark {
  width: 100%;
  font-size: 11px;
  font-weight: normal;
}

.tag {
  font-size: 11px;
  color: rgba(155, 155, 155, 1);
  font-style: oblique;
  font-weight: normal;
}

.left {
  float: left;
  width: 100%;
  text-align: left;
}

.right {
  float: left;
  width: 100%;
  text-align: right;
}

.resguardo-portrait, .presupuesto-portrait, .reparacion-portrait, .entrega-portrait {
  width: 300px;
  height: 230px;
}

/* REPAIR INFO */
.card-portrait .repair-info {
  position: relative;
  overflow: hidden;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 140px;
  font-weight: bold;
  padding: 0;
  margin: 0;
}

.card-portrait .repair-info .process-status {
  height: 1.4rem;
  padding: 0.2rem 0;
  background-color: rgba(159, 48, 48, 0.9);
  margin-bottom: 5px;
}

.card-portrait .repair-info-portrait {
  display: flex;
  flex-direction: row;
}

.card-portrait .repair-info-portrait .repair-info-data {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;

}

.card-portrait .repair-info .repair-info-portrait .repair-info-data .number {
  color: rgba(159, 48, 48, 1);
  font-size: 1.1em;
}

.card-portrait .repair-info .repair-info-portrait .repair-info-data .number-customer {
  color: rgba(155, 155, 155, 1);
  display: flex;
  flex-direction: column;
  font-size: 0.8rem;
  padding: 4px 0;
}

.card-portrait .repair-info .repair-info-portrait .repair-info-data .repair-type {
  font-weight: normal;
  color: rgba(255, 255, 255, 0.8);
}

.card-portrait .repair-info .repair-info-portrait .repair-info-data .pdf-icon {
  cursor: pointer;
  position: absolute;
  bottom: 15px;
  left: 10px;
  font-size: 1rem;
}

.card-portrait .repair-info .repair-info-portrait .repair-info-data .pdf-icon:hover {
  color: rgba(159, 48, 48, 0.7);
}

.card-portrait .repair-info .repair-info-portrait img {
  max-height: 100px;
  object-fit: contain;
  /*margin: 5px auto;*/
  flex-grow: 1;
}

/* RESGUARDO */
.card-portrait .resguardo-portrait {
  position: relative;
  display: flex;
  flex-direction: column;
  font-size: 11px;
}

.card-portrait .resguardo-portrait .main {
  display: flex;
  flex-direction: row;
  /*background-color: midnightblue;*/
}

.card-portrait .resguardo-portrait .main .left,
.card-portrait .resguardo-portrait .main .right {
  /*display: flex;*/
  /*flex-direction: column;*/
  /*justify-content: space-evenly;*/
  width: 50%;
}

.card-portrait .resguardo-portrait .main .left .left-tag-data .tag,
.card-portrait .resguardo-portrait .main .left .left-ul-data .tag,
.card-portrait .resguardo-portrait .main .left .left-tag-data .data {
  width: 100%;
  float: left;
  text-align: left;
}

.card-portrait .resguardo-portrait .main .left .left-tag-data {
  padding: 5px 0 0 10px;
  /*background-color: mediumseagreen;*/
}

.card-portrait .resguardo-portrait .main .left .left-ul-data {
  width: 100%;
  float: left;
  text-align: left;
  margin: 0;
  padding: 8px 0 5px 10px;
  list-style: none;
}

.card-portrait .resguardo-portrait .main .left .left-ul-data .data-li {
  width: 50%;
  display: inline-block;
  text-align: left;
  padding: 2px;
}

.card-portrait .resguardo-portrait .main .left .left-ul-data .data-li::before {
  content: '\25AA';
  color: rgba(159, 48, 48, 1);
  font-size: 11px;
  padding-right: 2px;
}

.card-portrait .resguardo-portrait .main .right .right-tag-data {
  padding: 5px 10px 6px 0;
}

.card-portrait .resguardo-portrait .main .right .tag,
.card-portrait .resguardo-portrait .main .right .data {
  width: 100%;
  float: right;
  text-align: right;
}

.card-portrait .resguardo-portrait .main .right .data {
  padding-bottom: 5px;
}

.card-portrait .tab-content {
  position: relative;
  width: 300px;
  font-size: 11px;
}

/* PRESUPUESTO */
.card-portrait .presupuesto-portrait {
  position: relative;
  display: flex;
  flex-direction: column;
  font-size: 11px;
}

.card-portrait .presupuesto-portrait .main {
  display: flex;
  flex-direction: row;
}

.card-portrait .presupuesto-portrait .main .left,
.card-portrait .presupuesto-portrait .main .right {
  /*display: flex;*/
  /*flex-direction: column;*/
  /*justify-content: space-evenly;*/
  width: 50%;
}

.card-portrait .presupuesto-portrait .main .left .left-tag-data .tag,
.card-portrait .presupuesto-portrait .main .left .left-tag-data .data {
  width: 100%;
  float: left;
  text-align: left;
}

.card-portrait .presupuesto-portrait .main .left .left-tag-data {
  padding: 5px 0 0 10px;
  /*background-color: mediumseagreen;*/
}

.card-portrait .presupuesto-portrait .main .left .data {
  padding-bottom: 5px;
}

.card-portrait .presupuesto-portrait .main .right .right-tag-data {
  padding: 5px 10px 6px 0;
  /*background-color: mediumseagreen;*/
}

.card-portrait .presupuesto-portrait .main .right .tag,
.card-portrait .presupuesto-portrait .main .right .data {
  width: 100%;
  float: right;
  text-align: right;
}

.card-portrait .presupuesto-portrait .main .right .data {
  padding-bottom: 5px;
}

.stamp {
  display: flex;
  justify-content: center;
  align-items: center;
  transform: rotate(-14deg);
  color: #555;
  font-size: 1rem;
  font-weight: 700;
  border: 0.25rem solid #555;
  text-transform: uppercase;
  border-radius: 10px;
  margin: 5px 0 0 20px;
  -webkit-mask-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/8399/grunge.png');
  -webkit-mask-size: 944px 604px;
  mix-blend-mode: lighten;
}

.is-approved {
  color: rgb(32, 116, 24);
  border: 0.25rem solid rgb(32, 116, 24);
}

.is-nope {
  color: rgba(159, 48, 48, 0.9);
  border: 0.25rem double rgba(159, 48, 48, 0.9);
}

/* REPARACION */
.card-portrait .reparacion-portrait {
  position: relative;
  display: flex;
  flex-direction: column;
  font-size: 11px;
}

.card-portrait .reparacion-portrait .main {
  display: flex;
  flex-direction: row;
}

.card-portrait .reparacion-portrait .main .left,
.card-portrait .reparacion-portrait .main .right {
  /*display: flex;*/
  /*flex-direction: column;*/
  /*justify-content: space-evenly;*/
  width: 50%;
}

.card-portrait .reparacion-portrait .main .left .left-tag-data .tag,
.card-portrait .reparacion-portrait .main .left .left-tag-data .data {
  width: 100%;
  float: left;
  text-align: left;
}

.card-portrait .reparacion-portrait .main .left .left-tag-data {
  padding: 5px 0 0 10px;
  /*background-color: mediumseagreen;*/
}

.card-portrait .reparacion-portrait .main .left .data {
  padding-bottom: 5px;
}

.card-portrait .reparacion-portrait .main .right .tag,
.card-portrait .reparacion-portrait .main .right .data {
  width: 100%;
  float: right;
  text-align: right;
}

.card-portrait .reparacion-portrait .main .right .right-tag-data {
  padding: 5px 10px 6px 0;
  /*background-color: mediumseagreen;*/
}

.card-portrait .reparacion-portrait .main .right .data {
  padding-bottom: 5px;
}

/* ENTREGA */
.card-portrait .entrega-portrait {
  position: relative;
  display: flex;
  flex-direction: column;
  font-size: 11px;
}

.card-portrait .entrega-portrait .main {
  display: flex;
  flex-direction: row;
}

.card-portrait .entrega-portrait .main .left,
.card-portrait .entrega-portrait .main .right {
  /*display: flex;*/
  /*flex-direction: column;*/
  /*justify-content: space-evenly;*/
  width: 50%;
}

.card-portrait .entrega-portrait .main .left .left-tag-data .tag,
.card-portrait .entrega-portrait .main .left .left-tag-data .data {
  width: 100%;
  float: left;
  text-align: left;
}

.card-portrait .entrega-portrait .main .left .left-tag-data {
  padding: 5px 0 0 10px;
  /*background-color: mediumseagreen;*/
}

.card-portrait .entrega-portrait .main .left .data {
  padding-bottom: 5px;
}

.card-portrait .entrega-portrait .main .right .tag,
.card-portrait .entrega-portrait .main .right .data {
  width: 100%;
  float: right;
  text-align: right;
}

.card-portrait .entrega-portrait .main .right .right-tag-data {
  padding: 5px 10px 6px 0;
  /*background-color: mediumseagreen;*/
}

.card-portrait .entrega-portrait .main .right .data {
  padding-bottom: 5px;
}

/* Tabs */
.card-portrait .tabs-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 300px;
  height: 30px;
}

.card-portrait .tab-btn {
  cursor: pointer;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  color: rgba(159, 48, 48, 0.9);
  transition: all 400ms linear;
}

.card-portrait .tab-btn .tab-icon {
  transition: all 300ms linear;
}

.card-portrait .tab-btn.disabled {
  pointer-events: none;
  color: rgba(255, 255, 255, 0.2);
}

.card-portrait .tab-btn:hover .tab-icon {
  color: rgba(255, 255, 255, 1);
}

.card-portrait .tab-btn.active {
  position: relative;
  background-color: rgba(159, 48, 48, 0.9);
  color: rgba(255, 255, 255, 1);
}

.card-portrait .tab-btn.active::before {
  content: '';
  position: absolute;
  top: -1px;
  left: 0;
  width: 100%;
  height: 1px;
  border-top: 1px solid rgba(159, 48, 48, 0.9);
}

.card-portrait .tab-btn.active:hover .tab-icon {
  color: white;
}
