.notfocus:focus,
.notfocus:active {
  outline: none !important;
  box-shadow: none;
}

.topbar {
  display: grid;
  grid-template-columns: 0.5fr 0.5fr 2fr 1fr;
  border-bottom: 1px solid rgba(211, 211, 211, 0.8);
  height: 60px;
  align-items: center;
  padding: 0 10px;
  color: white;
  font-size: 0.7rem;
}

.socials {
  text-align: left;
}

.social-icon {
  cursor: pointer;
  color: #ffffff;
  margin-right: 12px;
  font-size: 1.4rem;
  transition: all 0.3s linear;
}

.social-icon:hover,
.social-icon:focus {
  color: rgba(159, 48, 48, 0.9);
}

#header-logo {
  height: 3.5rem;
}

.header-text {
  color: #ffffff;
  text-align: right;
  vertical-align: middle;
}

@media only screen and (max-width: 768px) {
  .topbar {
    height: 46px;
    font-size: 0.45rem;
  }

  .social-icon {
    font-size: 1rem;
  }

  #header-logo {
    height: 2.5rem;
  }
}
