@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab');

html,
body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto Slab', serif;
  background: #212121; /* w3c */
}

body::-webkit-scrollbar {
    width: 4px;
}

body::-webkit-scrollbar-track {
    background: #212121; /* w3c */
}

body::-webkit-scrollbar-thumb {
    background: rgba(159, 48, 48, 0.7);
}


button {
  cursor: pointer;
}
